The original user requirements are available in the FullTeaching documentation:
[1] P. Fuente Pérez, “FullTeaching : Aplicación Web de docencia con videoconferencia,” 2017.
Please ask the authors of the original manuscript for it:
https://github.com/elastest/full-teaching
